<% layout('layouts/boilerplate') %> 

<%- include('../partials/flash') %> 

<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for(let i=0;i<camp.images.length;i++) {%>
                        <div class="carousel-item <%= i==0?'active':'' %>">
                            <img src="<%= camp.images[i].url %>" class="card-img-top" alt="..." width="400" height="400">
                        </div>
                    <% } %>  
                </div>
                <% if(camp.images.length>1){%> 
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                <% } %> 
            </div>
            <a href="/campgrounds/<%= camp.id %>" class="btn btn-success mt-3" type="button">Go back</a>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h1 class="inline"><%= camp.title %></h1>
                    <a href="/profile/<%= camp.author %>">author</a>
                </div>
                <p class="card-text"><%= camp.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>$<%= camp.price %>/night</strong></li>
                <li class="list-group-item text-muted">
                    <%= camp.location%>
                    <div id='map' style='width: 200px; height: 200px;'></div>
                </li>
            </ul>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p><strong>Ratings and Reviews</strong></p>
                    <% if(camp.totalUsers) {%>
                        <a href="#"><%= (camp.totalRating/(camp.totalUsers)).toFixed(2) %>/5 </a>
                    <% }else{ %>
                        <p>No ratings yet</p>
                    <% } %>   
                </div>
                <div class="d-flex justify-content-center">
                    <h6>Edit Review</h6>
                </div>
                <div class="text-center">
                    <form action="/campgrounds/<%=camp.id%>/reviews?_method=PUT" method="POST" class="mb-3">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" <%= (review.rating==0)?"checked":"" %>   aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" <%= (review.rating==1)?"checked":"" %> />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" <%= (review.rating==2)?"checked":"" %> />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" <%= (review.rating==3)?"checked":"" %> />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" <%= (review.rating==4)?"checked":"" %> />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" <%= (review.rating==5)?"checked":"" %> />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        <div class="mb-3">
                            <label class="form-label" for="body">Review</label>
                            <textarea class="form-control" name="body" id="body" cols="30" rows="3"><%= review.body %></textarea>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const mapToken= '<%- process.env.TOKEN %>';
    const camp= <%- JSON.stringify(camp) %>
</script>
<script src="/javascripts/map.js"></script>
